

@font-face{
	font-family:Super;
	src: url('E:\PWI\Projeto de site\fonts\Supertalls.ttf'); 
}
@font-face{
	font-family:Coalation;
	src: url('E:\PWI\Projeto de site\fonts\Coalition'); 
}

*{
	padding:0;
	margin:0px;
	font-family: 'Coalition';
}

li{
	list-style-type: none;
}
nav ul li a {
	display: block;
	font-size: 14;
	padding: 5px ;
	text-decoration: none;
	color: #C0C0C0;
	width: 19%;
	

}
nav ul li a:hover {
	color:#DC143C;
}

body{
	background:linear-gradient(#363636 , #000000 );
	color:#ffffff;
}

.menu{
	width: 100%;
	padding:7px;
	background-color:#000000;
	margin-left:0;
}
.imghome{
	margin-left: 0;
	position:relative;
    text-align:center;
}
.logo{
	margin-left:-8;
	margin-top: -8;

}
.imghome button{
    position: absolute;
	bottom: 100px;
	margin-left: -520px;
	font-size: 18px;
	width:250px;
}
.imghome button:hover{
	color:#c41414;
	
}
.button2{
	position: absolute;
	bottom: 85px;
	left: 16px;
	font-size: 18px;
	width:290px;
	margin-left: 180px;
	position:relative;
    text-align:left;
}

.button2:hover{
	color:#c41414;
	
}

.interativo{
	margin-left: -48;
	margin-top: -22;
}
.jogo{
	font-family:Montserrat, sans-serif;
}
.rodape{
	background-color: 	#f30000;
}

.direito{
	margin-left: 1%;
	
}
.contato{
	margin-top: 1%;
	margin-left: 80%;
}

.insta{
	margin-left: 79%;
}
.gmail{
	margin-left: 84%;
	margin-top: -25px;
}